.container {
  max-width: 800px;
  padding: 24px;
}

.container p {
  margin: 8px 0;
  line-height: 1.5;
}

.container ol,
.container ul {
  margin-left: 20px;
  margin-bottom: 16px;
  line-height: 1.6;
}

.container li {
  margin-bottom: 6px;
}

.container strong {
  font-weight: 600;
}
